@{
    ViewBag.Title = "Contact";
}

<div class="bg"></div>
<div class="jumbotron">
    <h2>Blaine Smith</h2> <br/> <h3>Web/Software Developer</h3>
</div>
<div class="container">
    <div class="row">
        <ul class="breadcrumb col-sm-3">
            <li><a href="#!/home">Home</a></li>
            <li class="active">Contact</li>
        </ul>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Contact Form: </h4>
                        <button class="btn btn-info btn-lg btn-block" data-ng-click="contactForm()">Click Me!</button>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Email: </h4>
                        <a href="mailto:blaine@BlaineSmith.net">Blaine@BlaineSmith.net</a>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Google+: </h4>
                        <div class="g-follow" data-annotation="none" data-height="24" data-href="//plus.google.com/u/0/114762908896705332252" data-rel="author"></div>
                        <script type="text/javascript">
                            (function () {
                                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                po.src = 'https://apis.google.com/js/platform.js';
                                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                            })();
                        </script>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">LinkedIn: </h4>
                        <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                        <script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/blaine-smith/2a/154/82a" data-format="click" data-text="Blaine Smith" data-related="false"></script>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Blaine Smith 2014</p>
            </div>
        </div>
    </footer>
</div>