@{
    ViewBag.Title = "Home";
}
<div class="bg"></div>
<div class="jumbotron">
    <h2 class="jumbotext"> Blaine Smith</h2> <br/> <h3>Web/Software Developer</h3>
</div>

<div class="container">
    <div class="row">
        <ul class="breadcrumb col-sm-3">
            <li class="active">Home</li>
        </ul>
    </div>
</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>Bootstrap 3 Built</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>Ready to Style &amp; Edit</h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

<div class="container">

    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Blaine Smith 2014</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->