<!-- Nav Menu -->
<nav id="k-menu" class="k-menu">
    <a href="#!" class="k-menu-trigger"><span>Menu</span></a>
    <ul>
        <li data-ng-class="{ active: isActive('/home')}" data-match-route="/home"><a href="#!/home">Home</a></li>
        <li data-ng-class="{ active: isActive('/service')}" data-match-route="/service"><a href="#!/service">What I Do</a></li>
        <li data-ng-class="{ active: isActive('/about')}" data-match-route="/about"><a href="#!/about">About me</a></li>
       @* <li data-ng-class="{ active: isActive('/portfolio')}" data-match-route="/portfolio"><a href="#!/portfolio">Portfolio</a></li>
        <li data-ng-class="{ active: isActive('/blog')}" data-match-route="/blog"><a href="#!/blog">Blog</a></li>*@
        <li data-ng-class="{ active: isActive('/contact')}" data-match-route="/contact"><a href="#!/contact">Contact</a></li>
    </ul>
    <ul>
        <li><a href="https://twitter.com/blainesmith24" class="fa fa-twitter">Twitter</a></li>
        <li><a href="//plus.google.com/u/0/114762908896705332252" class="fa fa-google-plus">Google+</a>
            <script type="text/javascript">
                (function () {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
                        </script>
        </li>
        <li><a href="https://www.facebook.com/blaine.smith.9081" class="fa fa-facebook">Facebook</a></li>
        <li><a href="http://instagram.com/blainesmith24" class="fa fa-instagram">Instagram</a></li>
    </ul>
</nav>
<!-- /Nav Menu -->
<!-- Switcher Color -->
<div id="switcher" class="switcher">
    <div class="switcher-content">
        <h2>Choose<br>
            color style</h2>
        <ul class="color color-thumbs">
            <li class="color-1"></li>
            <li class="color-2"></li>
            <li class="color-3"></li>
            <li class="color-4"></li>
            <li class="color-5"></li>
        </ul>
    </div>
    <a href="" class="switcher-btn"><i class="fa fa-cogs fa-3x"></i></a>
</div>
<!-- /Switcher Color -->
