<div id="about">
    <div class="wrap">
        <div class="container-fluid">
            @Html.Partial("NavAccessoryLayout")
           <div class="row animated fadeInRightBig">
            <div class="col-md-4 col-md-offset-1 col-sm-12 text-center">
            <img src="../../Content/Images/mfppic.jpg" alt="" class="img-circle"/>
            </div>
            <div class="col-md-6 col-sm-12">
                <h1>About Me</h1>                
                <h2>Hello, I'm Blaine Smith</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <!-- Skills -->
        <div id="chart" class="row animated fadeInLeftBig">
            <h2 class="text-center">Skills</h2>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="chart" data-percent="90">
                    <span class="percent">90</span>
                    <canvas height="170" width="170"></canvas>
                </span>
                <h2>HTML/CSS</h2>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="chart" data-percent="70">
                    <span class="percent">70</span>
                    <canvas height="170" width="170"></canvas>
                </span>
                <h2>WEB DEVELOPMENT</h2>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="chart" data-percent="85">
                    <span class="percent">85</span>
                    <canvas height="170" width="170"></canvas>
                </span>
                <h2>C#</h2>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="chart" data-percent="60">
                    <span class="percent">60</span>
                    <canvas height="170" width="170"></canvas>
                </span>
                <h2>JAVASCRIPT</h2>
            </div>
        </div><!-- /Skills -->
            <footer class="text-right animated bounceIn">
                <p>Copyright &copy; Blaine Smith 2014</p>
            </footer>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrap -->
</div>


<script src="~/Scripts/Template/borderMenu.js"></script>
<script src="~/Scripts/Template/custom.js"></script>

