<div id="about">
    <div class="wrap">
        <div class="container-fluid">
            <!-- Nav Menu -->
            <nav id="k-menu" class="k-menu">
                <a href="#!" class="k-menu-trigger"><span>Menu</span></a>
                <ul>
                    <li data-ng-class="{ active: isActive('/home')}" data-match-route="/home"><a href="#!/home">Home</a></li>
                    <li data-ng-class="{ active: isActive('/service')}" data-match-route="/service"><a href="#!/service">What I Do</a></li>
                    <li data-ng-class="{ active: isActive('/about')}" data-match-route="/about"><a href="#!/about">About me</a></li>
                    <li data-ng-class="{ active: isActive('/portfolio')}" data-match-route="/portfolio"><a href="#!/portfolio">Portfolio</a></li>
                    <li data-ng-class="{ active: isActive('/blog')}" data-match-route="/blog"><a href="#!/blog">Blog</a></li>
                    <li data-ng-class="{ active: isActive('/contact')}" data-match-route="/contact"><a href="#!/contact">Contact</a></li> 
                </ul>
                <ul>
                    <li><a href="#!" class="fa fa-twitter">Twitter</a></li>
                    <li><a href="#!" class="fa fa-google-plus">Google+</a></li>
                    <li><a href="#!" class="fa fa-facebook">Facebook</a></li>
                    <li><a href="#!" class="fa fa-dribbble">Dribbble</a></li>
                    <li><a href="#!" class="fa fa-instagram">Instagram</a></li>
                </ul>
            </nav>
            <!-- /Nav Menu -->
            <!-- Switcher Color -->
            <div id="switcher" class="switcher">
                <div class="switcher-content">
                    <h2>Choose<br>
                        color style</h2>
                    <ul class="color color-thumbs">
                        <li class="color-1"></li>
                        <li class="color-2"></li>
                        <li class="color-3"></li>
                        <li class="color-4"></li>
                        <li class="color-5"></li>
                    </ul>
                </div>
                <a href="" class="switcher-btn"><i class="fa fa-cogs fa-3x"></i></a>
            </div>
            <!-- /Switcher Color -->
           
        <div class="row text-center animated fadeInDownBig">
            <div class="col-md-12">
                <h1>Get in touch</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
            </div>
        </div>
        <div class="row animated fadeInLeftBig">
            <div class="col-md-2 col-md-offset-1">
                <address>
                  <strong>Blaine Smith</strong><br>
                  <a href="mailto:#">blaine@blainesmith.net</a>
                </address>
            </div>
            <!-- Contact Form -->
            <div class="col-md-9">
                <div class="row">
                    <form role="form" action="#" class="contact-form">
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="9"></textarea>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
            </div><!-- /Contact Form -->
        </div>
            <footer class="text-right animated bounceIn">
                <p>Copyright &copy; Blaine Smith 2014</p>
            </footer>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrap -->
</div>


<script src="~/Scripts/Template/borderMenu.js"></script>
<script src="~/Scripts/Template/custom.js"></script>

