<div id="service">
    <div class="wrap">
        <div class="container-fluid">
            @Html.Partial("NavAccessoryLayout")
            <div class="row text-center animated fadeInDownBig">
                <div class="col-md-6 col-md-offset-3">
                    <h1>What I Do</h1>
                </div>
            </div>
            <div class="row animated fadeInUpBig">
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="fa-stack fa-5x animated">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-code fa-stack-1x"></i>
                    </span>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h2>Coding</h2>
                    <p>I love making things. Programming is fundamentally about creating  solutions to problems. At the end of the day, you have created something 
                        that didn’t exist that morning, and that is in and of itself satisfying.
                    </p>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="fa-stack fa-5x animated">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-book fa-stack-1x"></i>

                    </span>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h2>Learning</h2>
                    <p>
                        I am someone who takes responsibility for my own personal development, I am continually evaluating and upgrading my skills
                         so that I stay at the cutting edge of web and software development
                    </p>
                </div>
            </div>
            <div class="row animated fadeInUpBig">
                <div class="col-md-3 col-sm-6">
                    <h2>Project Managing</h2>
                    <p>I'm a competent and experienced project/program manager, with over 13 years experience in managing multi-disciplinary teams of varying sizes 
                        and complex programs of work. I have the ability to build strong relationships with all stakeholders and to turn proposals into reality. 
                        I excel in management roles that demand rigor, a high level of drive and dedication and a focus on delivering business outcomes through
                         the use of methodologies.</p>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="fa-stack fa-5x animated">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-clock-o fa-stack-1x"></i>
                    </span>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-md-3 col-sm-6">
                    <h2>Designing</h2>
                    <p>In my design I have become a proponent for the Agile Manifesto: "we value: Individuals and interactions over processes and tools.
                        Working software over comprehensive documentation. Customer collaboration over contract negotiation. Responding to change over following a plan.
                        That is, while there is value in the items on the right, we value the items on the left more."
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 text-center">
                    <span class="fa-stack fa-5x animated">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x"></i>
                    </span>
                </div>
            </div>
            @Html.Partial("SiteFooter")
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrap -->
</div>


<script src="~/Scripts/Template/borderMenu.js"></script>
<script src="~/Scripts/Template/custom.js"></script>

