<div id="service">
    <div class="wrap">
        <div class="container-fluid">
            @Html.Partial("NavAccessoryLayout")
             <div class="row text-center animated fadeInDownBig">
            <div class="col-md-6 col-md-offset-3">
                <h1>What I Do</h1>
            </div>
        </div>
        <div class="row animated fadeInUpBig">
            <div class="col-md-3 col-sm-6 text-center">
                <span class="fa-stack fa-5x animated">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                    <i class="fa fa-code fa-stack-1x"></i>
                  
                </span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Coding</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
           
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="fa-stack fa-5x animated">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <i class="fa fa-pencil fa-stack-1x"></i>
                </span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Designing</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
        </div>
        <div class="row animated fadeInUpBig">
             <div class="col-md-3 col-sm-6">
                <h2>Searching</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="fa-stack fa-5x animated">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <i class="fa fa-search fa-stack-1x"></i>
                </span>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
                <h2>Delivery</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <span class="fa-stack fa-5x animated">
                  <i class="fa fa-circle-o fa-stack-2x"></i>
                  <i class="fa fa-rocket fa-stack-1x"></i>
                </span>
            </div>
        </div>
            <footer class="text-right animated bounceIn">
                <p>Copyright &copy; Blaine Smith 2014</p>
            </footer>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrap -->
</div>


<script src="~/Scripts/Template/borderMenu.js"></script>
<script src="~/Scripts/Template/custom.js"></script>

