<div id="blog">
    <div class="wrap">
        @Html.Partial("NavAccessoryLayout")
            <div class="row text-right animated fadeIn">
            <div class="col-md-10 col-md-offset-1">
                <h1>Blog / Single Post</h1>
            </div>
        </div>
        <div class="row animated fadeIn">
            <div id="main" class="col-md-10 col-md-offset-1">
                <div class="post">
                    <div class="featured-image"><img src="images/blog_1.jpg" class="img-responsive"></div>
                    <div class="meta-tag"><span>10 February 2014</span>/<span>Category</span>/<span>2 Comments</span></div>
                    <div class="post-content">
                        <h2 class="title-post">Title Post</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div id="comment" class="row">
                    <div class="col-md-12">
                        <h4 class="comment-title">2 Comments</h4>
                        <ul id="comment-list" class="list-unstyled">
                            <li>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="gravatar">
                                        <img src="../../Content/Images/gravatar.png" alt="gravatar" class="img-circle">
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h4>John Doe</h4>
                                            <span>10 February 2014</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                            <button class="btn btn-default">Reply</button>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </li>
                                <ul>
                                    <li>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="gravatar">
                                                <img src="../../Content/Images/gravatar.png" alt="gravatar" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <h4>John Doe</h4>
                                                    <span>10 February 2014</span>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                                    <button class="btn btn-default ">Reply</button>
                                                </div>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </li>
                                </ul>
                            <li>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="gravatar">
                                        <img src="../../Content/Images/gravatar.png" alt="gravatar" class="img-circle">
                                    </div>
                                </div>
                                <div class="col-md-10 col-sm-10 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h4>John Doe</h4>
                                            <span>10 February 2014</span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                            <button class="btn btn-default">Reply</button>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="reply" class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Leave a reply</h4>
                        <form class="form-horizontal" id="form-reply" novalidate="novalidate">
                            <div class="control-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" name="name" id="name" placeholder="Your name" class="form-control input-lg ">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">eMail</label>
                                <div class="controls">
                                    <input type="text" name="email" id="email" placeholder="Your email" class="form-control input-lg">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="message">Comment</label>
                                <div class="controls">
                                    <textarea name="message" id="message" rows="8" class="form-control input-lg" placeholder="Your comment"></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-default pull-right comment-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center animated fadeIn">
            <div class="col-md-12">
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
               </ul>
            </div>
        </div>
            <footer class="text-right animated bounceIn">
                <p>Copyright &copy; Blaine Smith 2014</p>
            </footer>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.wrap -->
</div>


<script src="~/Scripts/Template/borderMenu.js"></script>
<script src="~/Scripts/Template/custom.js"></script>

